<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>{{ config.title }}</h1>
        <ul class="tglist">
            {% for page in config.pages %}
            <li class="tglist__el">
                <a href="{{ page.href }}" id="{{ page.title }}-href">
                    [{{ page.shortcut }}] {{ page.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </main>
	<script src="index.js"></script>
  </body>
</html>
